* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: lightslategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: white;
  margin: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.container .left_side {
  position: relative;
  background: lightseagreen;
  padding: 40px;
}

.profileText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(255, 165, 0, 0.8);
}

.container .right_side {
  position: relative;
  background: white;
  padding: 40px;
}

.dan-img {
  border-radius: 50%;
  border: 4px solid rgba(255, 165, 0, 0.8);
  width: 170px;
  height: 170px;
}

.profileText h2 {
  color: white;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4em;
}

.contactDetails {
  padding-top: 35px;
}

.title {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.contactDetails ul li {
  list-style: none;
  position: relative;
  margin: 8px 0;
}

.contactDetails ul li .icon {
  display: inline-block;
  color: orange;
}

.contactDetails ul li span {
  color: lightyellow;
}

a {
  text-decoration: none;
  color: lightyellow;
}

a:hover {
  text-decoration: underline;
}

.contactDetails.education li {
  margin-bottom: 15px;
}

.contactDetails.education h5 {
  color: #ffc250;
  font-weight: bold;
  font-size: 15px;
}

.contactDetails.education h4:nth-child(2) {
  color: lightyellow;
  font-weight: 700;
}

.contactDetails.education h4 {
  color: lightyellow;
  font-weight: 300;
}

.contactDetails.language .percent {
  position: relative;
  width: 100%;
  height: 8px;
  background: lightslategray;
  display: inline-block;
}

.contactDetails.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: orange;
}

.aboutme {
  margin-bottom: 50px;
}

.aboutme:last-child {
  margin-bottom: 0;
}

.title2 {
  color: orangered;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  color: darkslategray;
  padding: 10px 10px;
  border: 3px solid rgba(32, 178, 170, 0.4);
  border-radius: 1rem;
}

.aboutme .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0;
}

.aboutme .box .year_company {
  min-width: 110px;
}

.aboutme .box .year_company h5 {
  text-transform: uppercase;
  color: lightseagreen;
}

.aboutme .box .text h4 {
  color: orange;
  margin-bottom: 2px;
}

.aboutme.skills .box {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme.skills .box h4 {
  color: lightseagreen;
}

.aboutme.skills .box .percent {
  position: relative;
  width: 100%;
  height: 8px;
  background: lightslategray;
  display: inline-block;
}

.aboutme.skills .box .percent div {
  background: orange;
  position: absolute;
  height: 100%;
}

.logo {
  width: 80px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.logo:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.myskills ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.myskills li {
  font-weight: bold;
  margin-right: 15px;
}

/* 
.myskills{

  display:flex;
  flex-direction: column;
} */
.aboutme.interests ul {
  padding: 3px;
  padding-left: 20px;
  border: 3px solid rgba(32, 178, 170, 0.4);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.aboutme.interests ul li {
  list-style: none;
  color: lightseagreen;
  margin: 5px 0;
}

.aboutme.interests ul li .fas {
  color: orange;
}

@media (max-width: 700px) {
  .container {
    margin: 10px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */