//setting all inital margin and padding to zero
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  //styling body element
  background: lightslategray; //background color of page
 
}
.cv-box{
  display: flex; //flex display for flexible web page elements
  justify-content: center; //all content under body element justified center
  align-items: center; //align all items under body element to center
  min-height: 100vh;
}

.container {
  //styling of container holding both left and right-hand side contents
  position: relative;
  width: 100%;
  min-height: 1000px;
  background: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr; // making 2 columns to be 1 and 2 fraction of the size
  
  //box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
  //styling of container holding all left-hand side content
  position: relative;
  background: lightseagreen;
  padding: 40px;
}

.profileText {
  // styling of author photo and name content
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-top: 20px;
  border-bottom: 2px solid rgba(orange, 0.8);
}

.container .right_side {
  //styling of container holding all right-hand side content
  position: relative;
  background: white;
  padding: 40px;
}

.dan-img {
  //styling of photo
  border-radius: 50%;
  border: 4px solid rgba(orange, 0.8);
  width: 170px;
  height: 170px;
}

.profileText h2 {
  //styling of name text
  color: white;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4em;
}

.contactDetails {
  //styling of section for contact details
  padding-top: 35px;
}
.title {
  //styling 'Contact Details' heading
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.contactDetails ul li {
  //styling of list elements within contactDetails class
  list-style: none;
  position: relative;
  margin: 8px 0;
}

.contactDetails ul li .icon {
  //styling of contact details icon
  display: inline-block;
  color: orange;
}

.contactDetails ul li span {
  //styling of span element holding the contact details text
  color: lightyellow;
}

a {
  text-decoration: none;
  color: lightyellow;
  &:hover {
    text-decoration: underline;
  }
}
.contactDetails.education li {
  // styling of list content under education heading
  margin-bottom: 15px;
}

.contactDetails.education h5 {
  //styling of years under education content
  color: rgb(255, 194, 80);
  font-weight: bold;
  font-size: 15px;
}

.contactDetails.education h4:nth-child(2) {
  //styling of degree/certification under education
  color: lightyellow;
  font-weight: 700;
}

.contactDetails.education h4 {
  //styling of institution under education
  color: lightyellow;
  font-weight: 300;
}

.contactDetails.language .percent {
  //styling of the percentage bar to indicate competence
  position: relative;
  width: 100%;
  height: 8px;
  background: lightslategray;
  display: inline-block;
}

.contactDetails.language .percent div {
  //styling of div block in percentage bar for various level of competence
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: orange;
}

.aboutme {
  //styling of aboutme section (content on the right-hand side)
  margin-bottom: 50px;
}
.aboutme:last-child {
  //styling of last child of about me sections
  margin-bottom: 0;
}

.title2 {
  //styling of 'title' headings in right-hand side content
  color: orangered;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  //styling of paragraphs in right-hand side contents
  color: darkslategray;
  padding: 10px 10px;
  border: 3px solid rgba(lightseagreen, 0.4);
  border-radius: 1rem;
}

.aboutme .box {
  //styling of div element holding 'Work Experience' contents
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.aboutme .box .year_company {
  //styling of div element holding year and company content
  min-width: 110px;
}

.aboutme .box .year_company h5 {
  //styling year and company heading text
  text-transform: uppercase;
  color: lightseagreen;
}

.aboutme .box .text h4 {
  //styling job role heading text
  color: orange;
  margin-bottom: 2px;
}

.aboutme.skills .box {
  //styling div element holding skills content
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 110px 1fr;
  justify-content: center;
  align-items: center;
}

.aboutme.skills .box h4 {
  //styling each skills text
  color: lightseagreen;
}

.aboutme.skills .box .percent {
  //styling of the percentage bar to indicate skill competence
  position: relative;
  width: 100%;
  height: 8px;
  background: lightslategray;
  display: inline-block;
}

.aboutme.skills .box .percent div {
  //styling of div block in percentage bar for various level of competence
  background: orange;
  position: absolute;
  height: 100%;
}

.logo{
  width: 80px;
  transition: 500ms;
  &:hover {
    transition: 500ms;
    transform: scale(1.09);
  }
}



.myskills ul{
  list-style: none;

  display:flex;
  flex-direction: row;
}
.myskills li {
  font-weight: bold;
  margin-right: 15px;

}
/* 
.myskills{

  display:flex;
  flex-direction: column;
} */


.aboutme.interests ul {
  // styling interest contents
  padding: 3px;
  padding-left: 20px;
  border: 3px solid rgba(lightseagreen, 0.4);
  display: grid;
  grid-template-columns: repeat(
    6,
    1fr
  ); //grid is repeated 6 times for 6 interests (electronics, music, chess, art, science,nature)
}

.aboutme.interests ul li {
  // styling each item in list interests
  list-style: none;
  color: lightseagreen;
  margin: 5px 0;
}

.aboutme.interests ul li .fas {
  //styling of the icons in the interests list
  color: orange;
}

@media (max-width: 700px) {
  //setting width threshold for when page is resized
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
